@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
body {
	background: linear-gradient(-45deg, #141414, #62F0B2, #60C1F8, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 50vh;
	margin: 0;
}

.container {
	margin:auto;
	max-width: 80%;
}

body h1 {
	text-align: center;
	font-family: Palanquin;
	font-weight: 700;
	margin-top: 20%;
	font-size: 8em;
	color: white;
	letter-spacing: 0.2em;
	filter: drop-shadow(8px 6px 2px rgba(0, 0, 0, 0.30));
}


.button {
	text-align: center;
	font-family: Palanquin;
	margin: 0px;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.30));
}

.button a {
	text-decoration: none;
	border: 1px white solid;
	padding-left:50px;
	padding-right:50px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 100px;
	color: white;
}

.button a:hover {
	color: black;
	background-color: aliceblue;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
