@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
body {
    background-image: url("/liquid-cheese.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}


.line {
    width: 630px;
    margin: 1px;
    border:#fcbba74f 1px solid;
}

.container {
    width: 70%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.315);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 3px #fcbba718 solid;
}

.container h1 {
    color: white;
    font-family: 'Sen';
    font-size: 3em;
    font-weight: 500;
    margin-left: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.box {
    left: 15%;
    padding: 10%;
    border: 3px #fcbba718 solid;
    border-radius: 20px;
    width: 50%;
    position: relative;
    font-family: 'Palanquin', sans-serif;
    padding: 0;
    color: white;
}

.box ul {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.box p{
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.2em;
}

.box h2 {
    margin: 5;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

.box a{
    color: #60C1F8;
    text-decoration: none;
}

#navbar {
    margin: 0;
    padding: 0;
    position: relative;
    height: 70px;
    background-color:rgba(0, 0, 0, 0.568);
    border-bottom: 1px #fcbba7be solid;
}


#navbar ul {
    margin: auto;
    position: absolute;
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 0px;
    left: 50px;
    bottom: 10px;
}

#navbar li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style: none;
    box-sizing: border-box;
    margin-left: 20px;
}

#navbar a {
    text-decoration: none;
    color: #fcbba7;
    margin: 0;
    padding: 0;
}

#navbar a:hover {
    color: #ffe2d9;
    margin: 0;
    padding: 0;
}

.blueish {
    color:#60C1F8;
}