@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
body {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  height: 100vh;
  margin: 0;
  position: relative;
}

div{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.gradient-background {
  background: linear-gradient(100deg,#200c32,#8f3155,#aa7f72);
  background-size: 140% 140%;
  animation: gradient-animation 800s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.about {
    position: relative;
    width: 70%;
    height: 80%;
    top: 10%;
}

.about h1{
    font-size: 4em;
    position: absolute;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    top: 30px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.about p {
    margin: 0;
}

.box {
    border: 1px #c28f7f3d solid;
    height: auto;
    width: 70%;
    position: absolute;
    margin-top: 20px;

}

.box p {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 80%;
    padding: 0;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    letter-spacing: 0.09em;
}

.button {
    margin: 0;
    padding: 0%;
}

.button a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    letter-spacing: 0.09em;
    border:1px solid;
    width: 20%;
    height: 30%;
    margin: 20px 20px;
    padding: 15px 20px;
    color:white;
}

.button a:hover {
    background-color: #c28f7f3d;
}

.blueish {
    color:#60C1F8;
}

.clr{
    clear:both;
}


#navbar {
    margin: auto;
    position: absolute;
    height: 50px;
    top: 0px;
    
}

#navbar hr {
    width: 100%;
    position: static;
    top: 100px;
}

#navbar ul {
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0;
    padding: 0px;
    position: absolute;
    top: 15px;
    left: 50px;
}

#navbar li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
    list-style: none;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.40));
}

#navbar a {
    text-decoration: none;
    color: #fcbba7;
    margin: 0;
    padding: 0;
}

#navbar a:hover {
    color: #ffe2d9;
    margin: 0;
}