@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');

body {
    background-image: url(ocean.jpg);

    background-color: black;
    margin: 0;
}

.container {
    position: relative;
    top: 100px;
    width: 90%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: white;
    left: 3%;

}

.container h1 {
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
    font-size: 4em;
    position: relative;
    width: 50%;
    letter-spacing: 0.1em;
    text-transform:uppercase;

}

.block {
    left: 10%;
    font-family: 'Palanquin', sans-serif;
    position:relative;
    float: left;
    width: 20.0%;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 100px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.089);
    margin-bottom: 50px;
}

.block h2 {
    font-weight: 300;
    letter-spacing: 0.1em;
}

.block p {
    font-weight: 200;
}

.green {
    color: aquamarine;
}

#navbar {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    height: 70px;
    background-color:rgba(255, 255, 255, 0.719);
}


#navbar ul {
    margin: auto;
    position: absolute;
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 0px;
    left: 50px;
    bottom: 10px;
}

#navbar li {
    
    margin: 0; 
    padding: 0;
    display: inline;
    list-style: none;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    position: static;
}

#navbar a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    color: white;
    padding: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}

